{% extends "layout.html" %}

{% block title %}
    History
{% endblock%}

{% block main%}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in transactions %}
                <tr>
                    <td class="text-start">{{ row.share_smbl }}</td>
                    <td class="text-start">{{ row.share_name }}</td>
                    <td class="text-end">{{ row.numFshares }}</td>
                    <td class="text-end"> {{ "$%.2f"|format(row.pricePshare) }}</td>
                    <td class="text-end">{{ row.time }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock%}